*{
    font-family: Red Hot Display, sans-serif;
    margin: 0%;
    padding: 0%;
}
body{

}
#main-page{
    background-color: hsl(225, 100%, 94%);
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  
}
.main-img{
    width: 100%;
    height: 20%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.main-text h1{
padding: 3% 3% 2% 3%;
font-weight: 700;
opacity: 90%;
text-shadow: 0.1% 0.1% 0.1%;
}
.main-text p{
    color: hsl(224, 23%, 55%);
    padding: 0 3% 2% 3%;
}
.plan-box{
background-color: hsl(225, 100%, 98%);
margin: 0 5% 2% 5%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
position: relative;
font-size: 1.4%;
border-radius: 12px;
/* grid-template-columns: repeat(autofill, minmax(200px.1fr)); */
}
.music-img{
    width: 50px;
    height: 50px;
    padding: 15px 20px 15px 20px;
   grid-row: 1/3;
 
}
.plan-title{
    grid-column: 3/2;
    padding-top:30%;
    font-size: 12px;
    font-weight: 700;
}
.plan-change{
    font-size: 10px;
  grid-column:4;
  padding: 0 20px 0px 0px;
}
.plan-price{
    grid-column: 2/2;
    font-size: 14px;
    padding-bottom: 20%;
    color: hsl(223, 47%, 23%);
}
.container{
    background-color:#fff;
    width: 350px;
    text-align: center;
    margin: 100px;
    border-radius: 25px;
    max-height: 500px;
}
.proceed-btn{
background-color: hsl(245, 75%, 52%);
width: 246px;
height:36px;
text-align: center;
border-radius: 9px;
margin: 0 50px 20px 50px;
box-shadow: 0px 10px 4px #E6E6E6;
border: none;
color: #fff;
font-weight: 700;
}
.proceed-btn:hover{
    background-color: lightgreen;
    color: hsl(223, 47%, 23%);
}
.cancel-btn{
    width: 246px;
    height:36px;
    text-align: center;
    border-radius: 9px;
    margin: 0 50px 20px 50px;
    color: hsl(223, 47%, 23%);
    border: none;
    background-color: #fff;
    
}
.cancel-btn:hover{
    color: hsl(245, 75%, 52%);
}
.btns{
    font-size: 10px;
}
@media screen and (max-width:320px) {
    #main-page{ width: 100%;}
        .container,.main-text,.plan-box,.btns{
            width: auto;
              height: auto;  
        }
        .cancel-btn:hover{
            color: hsl(223, 47%, 23%);
        }
        .proceed-btn:hover{
            color: #fff;
            background-color: hsl(245, 75%, 52%);
        }
        .proceed-btn:active{
            background-color: lightgreen;
            color: hsl(223, 47%, 23%);
        }
        .cancel-btn:active{
            color: hsl(245, 75%, 52%);
        }
}
